{% load static %}
{% include 'header.html' %}


<div class="container">
    <h2>BOOKING DETAILS</h2>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Destinations</th>
      <th scope="col">Approve / Reject</th>
      <th scope="col">Status</th>
      <th scope="col">Hotel</th>

     
      
      
    </tr>
  </thead>
  <tbody>
    {% for i in result %}
    <tr>
      
      <td>{{i.id}}</td>
      <td>{{i.user_name}}</td>
      <td>{{i.user_email}}</td>
      <td>{{i.user_phone}}</td>
      <td>{{i.user_destination}}</td>
      <td>
        <a href="{% url 'approve_booking' i.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
       <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
      </svg></a> / 
      <a href="{% url 'reject_booking' i.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
        </svg></a>
      </td>
      <td>{{i.status}}</td>
      <td><li><a href="hotel_booking"><button  class="btn btn-success px-5 py-2">BOOK HOTEL</button></a></li></td>
         
        
    </tr>
     {% endfor %}
   
  </tbody>
</table>
</div>

{% include 'footer.html' %}

