{% load static %}
{% include 'header.html' %}


<section class="booking-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div >
                    <h1 style="text-align:center; color:green;">Book Your Stay  </h1> <br><br>
                    <form class="form" action="" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label text-white"> Full Name</label>
                            <input type="text" name="username_hb" class="form-control" placeholder="Enter Your Name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-white">Email</label>
                            <input type="email" name="useremail_hb" class="form-control" placeholder="Enter Your Email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-white">Phone Number</label>
                            <input type="text" name="userphone_hb" class="form-control" placeholder="Enter Your phone number">
                        </div>
                        <div class="form-group">
                              <label for="hotel_name"></label>
                                 <select class="form-control" id="hotel_name" name="hotel_name" required>
                                      <option value="">choose a hotel</option>
                                       <option value="The Fullerton Hote">The Fullerton Hote (Thailand,US, Australia)</option>
                                         <option value="">Mandarin Oriental(Australia ,Thailand ,Dubai ,Bangkok )</option>
                                         <option value="Burj Al Arab">Burj Al Arab(Dubai, Italy ,Malaysia )</option>
                                         <option value="Fairmont Peace Hotel">Fairmont Peace Hotel( china, Switzerland)</option>
                                         <option value="The Dolder Grand">The Dolder Grand</option>
                                         <option value="Mandarin Oriental">Mandarin Oriental(Italy ,Malaysia,India )</option>
                                         <option value="Hotel Danieli">Hotel Danieli(Thailand ,Dubai)</option>
                                         <option value="The Plaza Hotel">The Plaza Hotel(US, Dubai , India)</option>
                                          <option value="Hotel Luxes"> Hotel Luxes (Australia ,Thailand ,Dubai ,China ,United State ,Italy ,Malaysia ,Switzerland) </option>
                                            </select>
                         </div>

                        <div class="mb-3">
                            <label class="form-label text-white">Check In</label>
                            <input type="date" name="check_in" class="form-control" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-white">Check Out</label>
                            <input type="date" name="check_out" class="form-control" placeholder="r">
                        </div>

                        <div class="mb-3">
                            <label class="form-label text-white">Guest</label>
                            <input type="number" name="guest" class="form-control" placeholder="number of Guest">
                        </div><br>


                         <div class="form-group">
                              <label for="hotel_name"></label>
                                 <select class="form-control" id="vehicle_hb" name="vehicle_hb" required>
                                      <option value="">choose a vehicle</option>
                                       <option value="car-1">car-1 (3 to 6  members )</option>
                                         <option value="car-2"> car-2( 2 to 4 members)</option>
                                          <option value="car-3">car-3 (1 to 3 members)</option>
                                            </select>
                         </div><br>
                         <div>
                           <label class="form-label text-white"></label>
                          <select name="destination" class="form-control">
    <option value="" selected disabled>Destination</option>

    <option value="Thailand">Thailand</option>
    <option value="Italy">Italy</option>
    <option value="London">London</option>
    <option value="Australia">Australia</option>
    <option value="India">India</option>
    <option value="US">US</option>
    <option value="Switzerland">Switzerland</option>
    <option value="China">China</option>

</select>
                      </div><br><br>
                        
                        
                        <div class="text-center">
                            <button type="submit"
                            class="btn btn-success px-5 py-2">
                              Confirm Booking
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><br><br><br><br>

{% include 'footer.html' %}